* {
  box-sizing: border-box;
  font-family: cursive;
}

/*Diseño del titulo de la pagina */
.titulo {
  text-align: center;
  font-size: x-large;
  background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
  height: 20vh;
  padding-top: 10px;
}

/*Le da un efecto de doble linea al titulo */
.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
}

.t-shadow {
  text-shadow: 4px 4px #8dffcd;
}

body {
  background: linear-gradient(169deg, white 0%, #c2bebe 100%);
}

/* Formato del cuadro de busqeuda  */
.searchBox {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* Componente que tiene las peliculas encontradas que concidan con el texto*/
.resultSearch {
  float: left;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /*Nos permite ordenar en columanos los elementos*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

/* Formato a los posters de cada pelicula */
.resultSearch div img {
  width: 90%;
  display: flex;
  padding: 4px;
}

/*Formato del cuadro que almacena la imagen*/
.image {
  background-color: rgba(194, 199, 219, 0.815);
  float: left;
  width: 50%;
  height: 300px;
  padding: 0 20px;
  position: relative;
}

/*Formato de la imagen del poster, de la pelicula seleccionada*/
.image img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: white;
  padding: 13px;
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-size: cover;
}

/*El resumen de la pelicula */
.plot {
  background-color: rgba(194, 199, 219, 0.815);
  float: left;
  text-align: center;
  float: left;
  width: 50%;
  height: 300px;
  padding: 0 20px;
}

/*Formato del contenedor de los detalles de la pelicula seleccionada*/
.info {
  float: left;
  width: 50%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  color: rgb(19, 58, 131);
}


.search-btn {
  color: rgb(2, 2, 2);
  font-size: 1 rem;
  cursor: pointer;
}

/* Detalles de la pelicula seleccionada */
.info li {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  color: rgb(19, 58, 131);
}

.info li div span {
  text-transform: uppercase;
  padding: 0 1.2rem;
  font-size: 1rem;
}

.info li>span {
  color: rgba(0, 0, 0, 0.308);
  font-weight: 700;
}

/*Formato visual del fragmento de galardones*/
.data {
  float: left;
  width: 50%;
  padding: 0 20px;
  color: rgb(19, 58, 131)
}

/*Lo necesario para hacerle responsive*/
@media only screen and (max-width: 1000px) {

  .image,
  .info {
    width: 100%;
  }

  .data,
  .plot {
    width: 50%;
  }

  .resultSearch {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {

  .image,
  .plot,
  .data,
  .info {
    width: 100%;
  }

  .resultSearch {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}